<div id="content">
  <h1 class="search_term"><%= @video.title %></h1>
  <p class="tagline"><%= @video.tagline %></p>
  
  <div id="description">
    <%= image_tag @video.poster, :alt => @video.title, :class => 'poster' if @video.poster %>
    <%= @video.description.html_safe %>
  </div><br clear="all" />
</div>

<%= render :partial => 'showtimes' %>
