<% content_for :head do %>
  <%= javascript_include_tag 'http://js.pusherapp.com/1.5/pusher.min.js' %>
  <script type="text/javascript">
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('<%= params[:id] %>');
    channel.bind('chatroom', function(message) {
      $('#messages').prepend('<div class="message"><p>' + message.text + '</p></div>');
    });
    jQuery(function($) {
      var resetNewMessageForm = function() { $("#new_message")[0].reset() };
      $("#new_message").bind("ajax:complete", resetNewMessageForm);
    });
  </script>
  
  <%= javascript_include_tag '/video-js/video.js' %>
  <%= stylesheet_link_tag '/video-js/video-js.css' %>
  <script type="text/javascript"> 
    // Must come after the video.js library
    // Add VideoJS to all video tags on the page when the DOM is ready
    VideoJS.setupAllWhenReady();
  </script>
<% end %>

<div id="video">
  <%= video_js_tag @video %>
</div>

<div id="chatroom">
  <%= form_for Message.new, :url => auditorium_messages_path(params[:id]), :remote => true do |f| %>
    <%= f.text_field :text %>
    <%= f.submit %>
  <% end %>
  <div id="messages">
    <%= render @messages %>
  </div>
</div>
