<% content_for :head do %>
  <%= javascript_include_tag 'http://js.pusherapp.com/1.5/pusher.min.js' %>
  <script type="text/javascript">
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('<%= "#{@video.permalink}-#{@screen.uuid}" %>');
    channel.bind('chatroom', function(message) {
      $('#messages').prepend('<div class="message"><p><span>' + message.user + ':&nbsp</span>' + message.text + '</p></div>');
    });
    jQuery(function($) {
      var resetNewMessageForm = function() { $("#message_text").val(''); };
      $("#new_message").bind("ajax:complete", resetNewMessageForm);
    });
  </script>
  
  <%= javascript_include_tag '/video-js/video.js' %>
  <%= stylesheet_link_tag '/video-js/video-js.css' %>
  <script type="text/javascript"> 
    // Must come after the video.js library
    // Add VideoJS to all video tags on the page when the DOM is ready
    VideoJS.setupAllWhenReady();
  </script>
  
  <script type="text/javascript">
    var count = 0;
    var notes = [];
    var position = [
      [0,50], [50,50], [100,50], [150,50], [200,50], [250,50], [300,50], [350,50], 
      [400,50], [450,50], [500,50], [550,50], [600,50], [0,100], [0,150], [0,200], 
      [0,250], [0,300], [0,350], [0,400], [0,450], [600,100], [600,150], [600,200], 
      [600,250], [600,300], [600,350], [600,400], [600,450]
      ]
    function showNote(text) {
      where = position[Math.floor(Math.random() * position.length)]
      $('#note').text(notes[count]).css('left', where[0]).css('top', where[1]).fadeIn().delay(15000).fadeOut();
      count = (count + 1) % notes.length;
    }
    $(document).ready(function() {
      $.getJSON('<%= auditorium_json_messages_path(@video.permalink) %>', function(data) {
        notes = data;
        showNote();
        setInterval("showNote();", 30000);
      });
    });
  </script>

  <script type="text/javascript">
    var starts_in = 600;
    var starts_in_url = 'http://' + window.location.host + window.location.pathname + '/starts_in';

    function play_video() {
      //alert("Playing");
      $("video")[0].play();
    }

    $(document).ready(function() {
      $.getJSON(starts_in_url, function(data) {
        starts_in = data.starts_in;
        //alert("Starts in: " + starts_in);
        if (starts_in>0) { 
          setTimeout("play_video();",parseFloat(starts_in) * 1000);
        }
      });
    });
  </script>

<% end %>

<div id="video">
  <%= video_js_tag @video %>
</div>

<div id="chatroom">
  <%= form_for Message.new, :url => auditorium_messages_path(@video.permalink, :screen => @screen.uuid), :remote => true do |f| %>
    <%= text_field_tag :display_name, current_user.display_name %>
    <%= f.text_field :text, :class => 'long' %>
    <%= f.submit %>
  <% end %>
  <div id="messages">
    <%= render :partial => 'auditorium/message', :collection => @messages %>
  </div>
</div>

<div id="note"></div>
