<!DOCTYPE html>
<html>
<head>
  <title>MovieNight</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.truncator.js' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
  
  <!-- footer -->
  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
</body>
</html>
